<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My PaintBrush copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>My PaintBrush copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Paintbrush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>184B96521637BE1F0005343A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184B971E1637C1960005343A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2706B83810ED702F00080D4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D15AC270486D014006FF6A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
